// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Components that are in HO Components


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.frame-unit,p {
 margin-bottom: 10px;
}

.frame-unit {
  float: left;
  margin-right: 15px;
  margin-bottom: 40px;
}

.govuk-box-highlight {
  padding: 1em 2em 2em;
  background-color: #00823B;
  color: white;
  text-align: center;

  .govuk-heading-m {
    margin-bottom: 1em;
  }

  p, h2, a {
      color: white;
    }

    a, a:hover, a:visited {
  color: white;
  font-weight: 700;
}}

.confirm-page {
  .hod-checkmark {
    font-size: 35px;
    color: white;
    display: block;
    margin: 15px auto;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    width: 70px;
    height: 70px;
    border-radius: 50%;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    + .govuk-heading-l {
      margin-top: 0;
    }
  }}


  .filter-box {
  background-color: #D8D8D8;
  min-height: 220px;
  padding-left: 30px;
  padding-top: 5px;
  margin-top: 20px;
  padding-bottom: 30px;
  }

.filters {
  min-width: 220px;
  margin-right: 0px;

  .multiple-choice--hod--this {
    padding-top: 8px;
    margin-right: 16px;

    .multiple-choice {
      padding-top: 1px;
      padding-bottom: 10px;
      margin-left: 3px;
    }
  }

  .multiple-choice--hod--this [type=checkbox] + label::before {
    width: 21px;
    height: 21px;
    background-color: white;
  }

  .multiple-choice--hod--this [type=checkbox] + label::after {
    border-width: 0 0 3px 3px;
    width: 11px;
    height: 4px;
    top: 8px;
    left: 6px;
  }
}
