
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="search-start-data-alt" class="govuk-back-link">Back</a>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="search-start-data-alt">Search data</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" aria-current="page">Search from profile or indicator</a>
    </li>
  </ol>
</div>
<h1 class="govuk-heading-l">Search for indicators</h1>
<p>Find an indicator or build a bespoke dashboard of indicators</p>
</br>
<div class="form-group">
<label class="govuk-label" for="sort" style="font-weight: bold;">Choose a profile</label>
<select class="govuk-select" id="sort" name="sort" style="width: 50%; background-color: white;">
<option>Choose a profile</option>
<option>Cardiovascular disease</option>
<option>AMR local indicatorss</option>
<option>Atlas of Variation</option>
<option>Cancer Services</option>
<option>Diabetes</option>
<option>Child and Maternal Health</option>
<option>End of Life Care</option>
<option>Health Protection</option>
<option>Inequality Tools</option>
<option>Inhale</option>
</select>
</div>
</br></br>
<a class="govuk-button button-secondary" type="submit" href="selected-profile" style="color: black;">View profile</a>

<div class="govuk-form-group">
  <label class="govuk-label" for="width-20" style="padding: 10px 0px 5px 0px; margin: 0;">
      <strong>Search for indicators by a key term</strong>
    </label>
    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
  </div>
  <a class="govuk-button button-secondary" type="submit" href="indicator-search-results" style="color: black;">Search</a>

  <h2 class="govuk-heading-m">Or access all data via API, R or python</h2>
  <p>You can download all public health data in either JSON or CSV formats via the DHI API.</p>

  <a href="" class="govuk-link" style="font-size: 19px;">View API information</a></br></br>
    <p>Alternatively you can use our R Package or Python package to download all the data you want using R or python.</p><a href="" class="govuk-link" style="font-size: 19px;">View R package information</a></br>
      <a href="" class="govuk-link" style="font-size: 19px;">View python information</a>
  </div>
</div>

<!--
<p>
You can search the area you're looking at or select a location on the map.
</p>
<div class="form-group">
  <input type="text" class="govuk-input" id="searchTerm" name="searchTerm" style="width: 350px;" value="enter postcode, town or local authority">
  <button class="govuk-button" type="submit" value="Search" name="" style="background-color:black; min-height: 36px; min-width: 36px"><span class="hod-search"></span>
  <i class="fa fa-search" aria-hidden="true"></i>
  </button>
  </div>
</br>
<img src="/public/images/map-of-uk.png" style="">
!-->




</div>
</div>


</br>



</form>
{% endblock %}
