
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="/v1/historic-start" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">Digital Health Intelligence</h1>

<h2 class="govuk-heading-m">What</h2>
<p>Information about what this is</p>
<h2 class="govuk-heading-m">Who</h2>
<p>Who is it for - how it might be able to be used</p>
<!--<p>When</br>
   why</br></p>!-->
  <h2 class="govuk-heading-m">Sign-in to your Digital Health Intelligence workspace</h2>

<p>You can access the projects that you are working on and search for data and evidence</p>
</br>
<a href="sign-in-2" role="button" draggable="false" class="govuk-button govuk-button--start">
  Sign in
</a>

<h2 class="govuk-heading-m" style="margin-top: 10px">Search for data and evidence</h2>

<p>Access PHE's data and evidence resources to browse population and service data by area</p>

<div class="second-button" style="display: inline-block; margin-top: 15px;"><a class="govuk-button button-secondary" type="submit" href="search/search-start">
Search data and evidence</a></div>

    </div>
</form>
{% endblock %}
