
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
    <div class="govuk-grid-row">
  <!--This should be on every page within a project!-->
<div class="project-bar">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-s" style="margin-bottom: 5px;">Rising drinking in underage</h2>
      <a href="">Show project details</a>

    </div>
    <div class="govuk-grid-column-one-third">
      <a href="../shortlisted-information/view-selected-material" style="font-size: 19px;">View shortlisted material</a>
    </div>
</div>
<!--end of project bar!-->
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="#" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Paper 1</h1>
<p>DOI number: #92919183 <a href="">go to paper</a></p>
<p>Tags here....</p>
<h3 class="govuk-heading-m">Summary from team</h3>
<p>This paper would be useful for some good numbers for this topic. The second chapter is the most interesting.</p>
<h3 class="govuk-heading-m">Abstract</h3>
<p>The abstract here imported from wherever it is hosted</p>
</div>
</form>
{% endblock %}
