
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
    <div class="govuk-grid-row">
      <div class="project-bar">
      <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-s">{{ identifier }}</h2>
    <div class="unfold-summary" style="background-color: #005EA5;">
    <details class="govuk-details" style="color: white; font-size: 16px;">
  <div class="govuk-details__text">
    {{ project_detail }}
  </div>
</details>
</div>
</div>
<div class="govuk-grid-column-one-third">
<h3 class="govuk-heading-s">Shortlisted information:</h3>
<a href="../shortlisted-information/view-selected-material">View shortlisted material here</a>
</div>
</div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="project-index">All projects</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" aria-current="page">Project space</a>
          </li>
        </ol>
      </div>
<a href="../project-index" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l" style="margin-bottom: 0px;">{{ identifier }}</h1>
<p class="under-heading">Project space</p>
<!--maybe test whether they need more information!-->
</br>
</br>
<div class="type-information">
  <h3 class="govuk-heading-s">How are we doing?</h3>
  <p>Data by subject area, geographical area and service performance</p>
  <a href="how-doing">View information added</a><a href="../search-data/search-start-data-alt">Search for data to add</a><a href="" style="float: left; margin-left: 0px;">Upload data</a>
</div>

<div class="type-information">
  <h3 class="govuk-heading-s">What should we do?</h3>
  <p>View academic papers, articles, grey literature and health economic tools</p>
 <!---- something about where this information is taken from and located ---->
  <a href="what-should">View information added</a><a href="../search-evidence/search-start-best-practice-start">Search for information to add</a><a href="" style="float: left; margin-left: 0px;">Upload evidence</a>
</div>


<!---- would 'upload' not be its own grey box? ---->
</div>

</div>


</div>
</form>
{% endblock %}
