
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="team-created" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="add-to-team-add-one" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">{{ team_member_two }} added to {{ team_name }} team</h1>

<div class="govuk-form-group">
  <label class="govuk-label" for="national-insurance-number">
      Enter the email  of who you would like to invite to your {{ team_name }}
  </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="one-half" type="text">
  </div>

  <div class="block-space">
	<a class="govuk-button button-secondary" type="submit">
		Add person
	</a>
</div>

<table class="govuk-table">
  <caption class="govuk-table__caption">People in {{ team_name }} team</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">Email </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" scope="row">{{ member_one }}</td>
      <td class="govuk-table__cell">{{ member_one }}@southwark.gov.uk</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" scope="row">{{ team_member_two }}</td>
      <td class="govuk-table__cell">{{ team_member_two }}@southwark.gov.uk</td>
    </tr>
  </tbody>
</table>

<div class="block-space">
	<input class="govuk-button" type="submit" value="Create team">
</div>

</br>
    </div>
</div>
</form>
{% endblock %}
