
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="add-to-team-add-one" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="create-team" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">{{ team_name }} team created</h1>

<div class="govuk-form-group">
  <label class="govuk-label" for="member_one">
    Enter the email of the person you'd like to invite to the {{ team_name}} team.
  </label>
  <span id="national-insurance-number-hint" class="govuk-hint">
  </span>
    <input class="govuk-input govuk-!-width-one-half" id="member_one" name="member_one" type="text">
  </div>

  <div class="block-space">
  <button type="submit" class="govuk-button button-secondary">
    Add
  </button>
</div>


<button type="submit" class="govuk-button">
  Create team
</button>
</br>
    </div>
</div>
</form>
{% endblock %}
