
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="" class="govuk-back-link">Back</a>
<div class="govuk-box-highlight confirm-page new">
  <span class="hod-checkmark move"></span>
  <h2 class="govuk-heading-l">
    Project {{ identifier }} created
  </h2>
  <p>The project has been created with <strong>{{ group_name }}</strong></p>
  <p>
    An email has been sent to these members inviting them to the project area. </p>
	<p> Once team members have accepted their invitation, they'll be able to view and contribute to the {{ identifier }} space.
  </p>
</div>
</br>

<a href="project-space-start" style="font-size: 20px; line-height: 40px;">Go to {{ identifier }}
 project space</a></br>
<a href="project-index-project-added" style="font-size: 20px;">View all projects</a>

    </div>
</div>
</form>
{% endblock %}
