
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="search-all" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="project-bar">
    <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-s">Alcohol-recom-01-03-19</h2>
  <div class="unfold-summary" style="background-color: #005EA5;">
  <details class="govuk-details" style="color: white; font-size: 16px;">
<div class="govuk-details__text">
  Our service contract is ending, and I have become aware of a new model of service delivery that I think will be effective. Can we collect together information about this and put together a case for funding a new experimental model.
</div>
</details>
</div>
</div>
<div class="govuk-grid-column-one-third">
<h3 class="govuk-heading-s">Project space:</h3>
<a href="project-space-progress">View all the information added by your team here</a>
</div>
</div>
</div>
<a href="project-space-progress" class="govuk-back-link">Back</a>
</br></br>
  <div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">Information you have shortlisted</h1>

  <div class="second-button"><a href="close-project" role="button" draggable="false" class="govuk-button button-secondary" style="float: right; margin-top: -60px;">
  Close project
  </a>
  </div>
  <p>You can <a href="">download</a> all information in this shortlisted view.<p>
  <p><a href="">View guidance</a> on how best to tailor this information for different outputs.<p>
</br>
</br>
<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list" style="min-width: 680px;">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#past-day">
        Data
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Best practice
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Citizen engagement and grey literature
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        ROI
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">Data</h2>
    <h3 class="govuk-heading-m">From dashboard data</h3>
    <p style="max-width: 700px;"><strong>Tag summary:</strong> This indicator is particularly important because it is a particular spike that happened following a last treatment change</p>
    <p><strong>Tags:</strong> people prevention</p>
    <p><strong>Tagged by:</strong> Person 8</p>


    <table class="govuk-table" style="max-width: 700px;">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Indicator</th>
          <th class="govuk-table__header" scope="col">Amount</th>
          <th class="govuk-table__header" scope="col">How does it compare with benchmark</th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Admission episodes for alcohol-specific conditions - Under 18s</td>
          <td class="govuk-table__cell">13.8 in 100,000</td>
          <td class="govuk-table__cell">Worse</td>
          <td class="govuk-table__cell"><a href="">remove</a></br><button type="submit" class="govuk-button button-secondary" style="margin-top: 10px;">
        Download
      </button></td>
        </tr>
      </tbody>
    </table>
    </br>

      <h3 class="govuk-heading-m">From visualisations</h3>
    <div class="visualisation-label">
      <h3 class="govuk-heading-s" style="max-width: 700px;">Completion numbers for alcohol-related treatment - Southwark, London and England over time</h3>
      <p style="max-width: 700px;"><strong>Summary</strong> - This is a good way of highlighting how we have not managed to improve levels using the current process while others have.</p>
      <p><strong>Tags</strong> - <span style="background-color: #dee0e2; padding: 5px 10px 5px 10px;">treatment</span></p>
      <p><strong>Tagged by</strong> - person7@Southwark.gov.uk</p>
      <p><strong>Tagged for</strong> - Alcohol treatment</p>
      <button type="submit" class="govuk-button button-secondary" style="margin-top: 10px; float: left;">
    Download
  </button>
      <a href="" style="margin-right: 60px; float: left; margin-left: 20px; margin-top: 15px;">remove</a>
    </div>
  </br>
    <div class="chart" style="clear: both;"><img src="/public/images/chart-for-comparison.png" style="max-width: 500px; max-height: 350px; margin-left: 0px;"></div></br>
  </br>
      <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Add more data to your shortlisted material:</h3>
      <a href="how-doing">View information that has been saved to data</a>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Best practice</h2>

    <table class="govuk-table">
      <caption class="govuk-table__caption">Reports and guidelines</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Title of report/guidelines</th>
          <th class="govuk-table__header" scope="col">DOI number</th>
          <th class="govuk-table__header" scope="col">Team summary</th>
          <th class="govuk-table__header" scope="col">Approved</th>
          <th class="govuk-table__header" scope="col">Tagged by</th>
          <th class="govuk-table__header" scope="col">Tags</th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row"><a href="">Paper 2</a></th>
          <td class="govuk-table__cell">#21992011</td>
          <td class="govuk-table__cell">This paper has really good examples of how different services can work together.</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Person 7</td>
          <td class="govuk-table__cell"><div class="tag-02">people impact</div> <div class="tag-04">prevention</div></td>
          <td class="govuk-table__cell"><a href="">remove</a></br><button type="submit" class="govuk-button button-secondary" style="margin-top: 10px;">
        Download
      </button></td>
        </tr>
      </tbody>
    </table>

  </br>
      <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Add more evidence to your shortlisted material:</h3>
      <a href="tagged-best-practice">View information that has been saved to best practice</a>

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    <h2 class="govuk-heading-l">Citizen engagement and grey information</h2>
    <table class="govuk-table">
      <caption class="govuk-table__caption">Uploaded information</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
          Title of uploaded information</th>
          <th class="govuk-table__header" scope="col">Information type</th>
          <th class="govuk-table__header" scope="col">Team summary</th>
          <th class="govuk-table__header" scope="col">Tagged by</th>
          <th class="govuk-table__header" scope="col">Tags</th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row"><a href="">Blog about ...</a></th>
          <td class="govuk-table__cell">link</td>
          <td class="govuk-table__cell">This would be useful for .....</td>
          <td class="govuk-table__cell">Person 7</td>
          <td class="govuk-table__cell"><div class="tag-01" style="color: white; font-weight: bold;">financial impact</div></td>
          <td class="govuk-table__cell"><a href="">remove</a></br><button type="submit" class="govuk-button button-secondary" style="margin-top: 10px;">
        Download
      </button></td>
        </tr>
      </tbody>
    </table>
  </br>
      <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Add more citizen engagement to your shortlisted material:</h3>
      <a href="uploaded-engagement">View information that has been saved to citizen engagement</a>

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
    <h2 class="govuk-heading-l">ROI outputs</h2>
<p>No ROI outputs shortlisted</p>
</br>
    <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Add an ROI calculation to your shortlisted material:</h3>
    <a href="roi-tools">View information that has been saved ROI tools</a>

  </section>
</div>

</div>


</div>



</div>

</form>
{% endblock %}
