
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="check-create-identifier" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Add any information for the team for: </br><span style="font-size:26px;">{{ identifier }}</span></h1>

<div class="govuk-form-group">
  <label class="govuk-label" for="instructions">
    Information to be sent to team
  </label>
  <span id="project-detail-hint" class="govuk-hint">
    This will be sent by email everyone in your team when you create the project. They will then be able to access and contribute to this project space.
  </span>
  <textarea class="govuk-textarea" id="instructions" name="instructions" rows="5" aria-describedby="project-detail-hint"></textarea>
</div>



<div class="block-space">
	<input class="govuk-button" type="submit" value="Continue">
</div>

</br>
    </div>
</div>
</form>
{% endblock %}
