
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="project-closed" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="view-selected-material" class="govuk-back-link">Back</a>
<span class="govuk-caption-m">alc-200119</span>
<h1 class="govuk-heading-l">Close your project</h1>

<p>Once you have done this your project will be archived, you will be able to view it and download from it but not edit or add anything to it</p>
</br>
<div class="govuk-form-group">
  <label class="govuk-label--m" for="more-detail">
    Add a closing comment on the success of this suggestion (optional)</br>
  </label>
  <span id="more-detail-hint" class="govuk-hint">
    This can be about how the information landed with a particular decision maker or whether something was particularly successful
  </span>
  <textarea class="govuk-textarea" id="close_comment" name="close_comment" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h2 class="govuk-heading-m">
        Who would you like your project to be viewable to:
      </h2>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
          <strong>Only people who have contributed to project</strong> - everyone else will be able to view project title, summary and team
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          <strong>People in your local authority</strong> - all people with a XXX ending email address would be able to view the project information saved to this area
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          <strong>People in other local authorities</strong> - this means the project information would be viewable by all local government
        </label> </div>

    </div>
  </fieldset>
</div>





<div class="block-space">
	<input class="govuk-button" type="submit" value="Close project">
</div>
</div>
</div>
</form>
{% endblock %}
