
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="view-selected-material" class="govuk-back-link">Back</a>
<span class="govuk-caption-m">alc-200119</span>
<h1 class="govuk-heading-l">Close your project</h1>

<p>Once you have done this your project will be archived, you will be able to view it and download from it but not edit or add anything to it</p>
</br>
<div class="govuk-form-group">
  <label class="govuk-label" for="more-detail">
    Add a closing comment on the success of this suggestion (optional)
  </label>
  <span id="more-detail-hint" class="govuk-hint">
    This can be about how the information landed with a particular decision maker or whether something was particularly successful
  </span>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>
<div class="block-space">
	<input class="govuk-button" type="submit" value="Close project">
</div>
</div>
</div>
</form>
{% endblock %}
