
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="choose-team" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Create a new project space</h1>

<p>Create a project identifier</p>

<div class="govuk-form-group">
  <label class="govuk-label" for="identifier">
    Identifier
  </label>
  <span id="identifier-hint" class="govuk-hint">
    A word or phrase that you can identify your project space by
  </span>
  <input class="govuk-input" id="identifier" name="identifier" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="project-detail">
    Summary of the project
  </label>
  <span id="project-detail-hint" class="govuk-hint">
    A summary of the project that will be visible when the project is searched for or viewed.
  </span>
  <textarea class="govuk-textarea" id="project-detail" name="project-detail" rows="5" aria-describedby="project-detail-hint"></textarea>
</div>



<div class="block-space">
	<input class="govuk-button" type="submit" value="Continue">
</div>

</br>
    </div>
</div>
</form>
{% endblock %}
