
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="tagged-best-practice" class="govuk-back-link">Back</a>
<span class="govuk-caption-m">alc-200119</span>
<h1 class="govuk-heading-l">Paper 1</h1>
<p><strong>DOI number:</strong> #92919183 <a href="">go to paper source</a></p>
<p><strong>Tagged by:</strong> Person 8</p>
<p><strong>Tagged for:</strong> Alcohol treatment</p>
<div class="tag-01" style="max-width: 80px; padding-bottom: 1px;"><p>financial</p></div>
</br>
<h3 class="govuk-heading-m">Summary from team</h3>
<p>This paper would be useful for some good numbers for this topic. The second chapter is the most interesting.</p>
<h3 class="govuk-heading-m">Abstract</h3>
<p>The abstract here imported from wherever it is hosted</p>
</div>
</form>
{% endblock %}
