
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="" class="govuk-back-link">Back</a>
<div class="govuk-box-highlight confirm-page new">
  <span class="hod-checkmark move"></span>
  <h2 class="govuk-heading-l">
    Project //PROJECT NAME// created
  </h2>
  <p>The project has been created with the members: <strong>Person 7 and Person 8</strong></p>
  <p>
    An email has been sent to these members inviting them to access the project area. All members will begin to be able to view and save information in this project space.
  </p>
</div>
</br>

<a href="project-space-start" style="font-size: 20px; line-height: 40px;">View your project space</a></br>
<a href="project-index" style="font-size: 20px;">Return to all projects</a>

    </div>
</div>
</form>
{% endblock %}
