
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="" class="govuk-back-link">Back</a>
<div class="govuk-box-highlight confirm-page new">
  <span class="hod-checkmark move"></span>
  <h2 class="govuk-heading-l">
    Alc020119
  </h2>
  <p>'New models in alcohol and drug management service delivery' project created.</p>
  <p>The project has been created with the members: <strong>Person 7 and Person 8</strong></p>
  <p>
    An email has been sent to these members informing them of the identifier for the project. All members will begin to be able to tag to this project and view what has been already tagged.
  </p>
</div>
</br>

<a href="project-space-start" style="font-size: 20px;">View your project space</a></br>
<a href="project-index" style="font-size: 20px;">Return to choose project</a>

    </div>
</div>
</form>
{% endblock %}
