
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="create-identifier" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="../sign-in" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Your live projects</h1>
<p>Big description of what a project space is and how to use this area - your space to do this - where your team can add 'tag' summaries and summarise</p>
<p>list of your projects in link form or radio buttons</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="start-button">
      <button type="submit" class="govuk-button">
        Start a new project
      </button>
</div>
<a href="../historic/historic-start" style="font-size: 20px;">View historic projects</a>
</div>
</div>
</br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <table class="govuk-table">
      <caption class="govuk-table__caption" style="margin-bottom: 10px;">Projects</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Project name</th>
          <th class="govuk-table__header" scope="col">Summary</th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Alcohol-recom-01-03-19</th>
          <td class="govuk-table__cell">We need to recommission our alcohol services in our area and have these constraints</td>
          <td class="govuk-table__cell"><a href="project-space-progress">Open project</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Drugs-press-22-02-19</th>
          <td class="govuk-table__cell">In the papers there have been reported rise in deaths of unpure pills in our borough and I want to know everything we know now about this</td>
          <td class="govuk-table__cell"><a href="">Open project</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Alcohol-below18-10-12-19</th>
          <td class="govuk-table__cell">The new elected member’s pet subject is under aged drinking’s strain on hospitals. What are we doing with our services, and what can we use to suggest…</td>
          <td class="govuk-table__cell"><a href="">Open project</a></td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
</form>
{% endblock %}
