
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="what-should" class="govuk-back-link">Back</a>
<span class="govuk-caption-m">alc-200119</span>
<h1 class="govuk-heading-l">ROI tools</h1>

<h2 class="govuk-heading-s">ROI selected results</h2>
<p>These have been suggested by your team as outputs that could be useful</p>

<h2 class="govuk-heading-s">ROI calculators</h2>

<p>Below are links to various ROI calculators that might be useful for collecting together suggestions</p>
<a href="" style="font-size: 18px;">Calculator 1</a></br>
<a href="" style="font-size: 18px;">Calculator 2</a></br>
<a href="" style="font-size: 18px;">Calculator 3</a>

</div>
</div>
</form>
{% endblock %}
