
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="what-should" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Best practice and guidelines saved to this project</h1>
<table class="govuk-table">
  <caption class="govuk-table__caption">Reports and guidelines</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Title of report/guidelines</th>
      <th class="govuk-table__header" scope="col">DOI number</th>
      <th class="govuk-table__header" scope="col">Team summary</th>
      <th class="govuk-table__header" scope="col">Approved</th>
      <th class="govuk-table__header" scope="col">Tagged by</th>
      <th class="govuk-table__header" scope="col">Tags</th>
      <th class="govuk-table__header" scope="col">Select for shortlist</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="paper-example">Paper 1</a></th>
      <td class="govuk-table__cell">#92919183</td>
      <td class="govuk-table__cell">This paper would be useful for some good numbers for this topic. The second chapter is the most interesting.</td>
      <td class="govuk-table__cell">Yes</td>
      <td class="govuk-table__cell">Person 8</td>
      <td class="govuk-table__cell"><div class="tag-01" >financial impact</div></td>
      <td class="govuk-table__cell"><div class="block-space" style="display: inline-block; margin-top: 25px;"><a class="govuk-button button-secondary" type="submit">
select</a></div></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">Paper 2</a></th>
      <td class="govuk-table__cell">#21992011</td>
      <td class="govuk-table__cell">This paper has really good examples of how different services can work together.</td>
      <td class="govuk-table__cell">Yes</td>
      <td class="govuk-table__cell">Person 7</td>
      <td class="govuk-table__cell"><div class="tag-02">people impact</div> <div class="tag-04">prevention</div></td>
      <td class="govuk-table__cell"><div class="block-space" style="display: inline-block; margin-top: 25px;"><a class="govuk-button button-secondary" type="submit">
select</a></div></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">Paper 3</a></th>
      <td class="govuk-table__cell">#12004482</td>
      <td class="govuk-table__cell">This paper isn't particularly useful but should be acknowledged as you might be asked about this.</td>
      <td class="govuk-table__cell">No</td>
      <td class="govuk-table__cell">Person 7</td>
      <td class="govuk-table__cell"><div class="tag-03">health impact</div><div class="tag-04">treatment</div></td>
      <td class="govuk-table__cell"><div class="block-space" style="display: inline-block; margin-top: 25px;"><a class="govuk-button button-secondary" type="submit">
select</a></div></td>
    </tr>
  </tbody>
</table>
</div>
<div class="govuk-grid-column-one-third">
  <div class="project-info">
    <h2 class="govuk-heading-m">Alcohol-recom-01-03-19</h2>
    <div class="unfold-summary">
    <details class="govuk-details" style="margin-bottom: 15px;">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Summary
    </span>
  </summary>
  <div class="govuk-details__text">
    Our service contract is ending, and I have become aware of a new model of service delivery that I think will be effective. Can we collect together information about this and put together a case for funding a new experimental model.
  </div>
</details>
</div>
    <h3 class="govuk-heading-s">Map of area selected:</h3>
    <img src="/public/images/map-of-area.png" style="margin-bottom: 30px;">

    <h3 class="govuk-heading-s">Shortlisted information:</h3>
    <a href="view-selected-material">View shortlisted material here</a>
  </div>
</div>
</div>
</form>
{% endblock %}
