
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="project-index">All projects</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="project-space-progress">Project space</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="what-should">Best practice and citizen engagement</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" aria-current="page">Citizen engagement</a>
          </li>
        </ol>
      </div>

<a href="what-should" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Citizen engagement uploaded by your team members for alc-200119</h1>
<table class="govuk-table">
  <caption class="govuk-table__caption">Uploaded information</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">
      Title of uploaded information</th>
      <th class="govuk-table__header" scope="col">Information type</th>
      <th class="govuk-table__header" scope="col">Team summary</th>
      <th class="govuk-table__header" scope="col">Tagged by</th>
      <th class="govuk-table__header" scope="col">Tags</th>
      <th class="govuk-table__header" scope="col">Select for shortlist</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">Blog about ...</a></th>
      <td class="govuk-table__cell">link</td>
      <td class="govuk-table__cell">This would be useful for .....</td>
      <td class="govuk-table__cell">Person 7</td>
      <td class="govuk-table__cell"><div class="tag-01" style="color: white; font-weight: bold;">financial impact</div></td>
      <td class="govuk-table__cell"><div class="block-space" style="display: inline-block; margin-top: 25px;"><a class="govuk-button button-secondary" type="submit">
select</a></div></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">Document</a></th>
      <td class="govuk-table__cell">word doc</td>
      <td class="govuk-table__cell">This is about...</td>
      <td class="govuk-table__cell">Person 7</td>
      <td class="govuk-table__cell"><div class="tag-02" style="color: white; font-weight: bold;">people impact</div> <div class="tag-04">prevention</div></td>
      <td class="govuk-table__cell"><div class="block-space" style="display: inline-block; margin-top: 25px;"><a class="govuk-button button-secondary" type="submit">
select</a></div></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">Article about ...</a></th>
      <td class="govuk-table__cell">link to article</td>
      <td class="govuk-table__cell">This was used successfully for something</td>
      <td class="govuk-table__cell">Person 7</td>
      <td class="govuk-table__cell"><div class="tag-04">prevention</div></td>
      <td class="govuk-table__cell"><div class="block-space" style="display: inline-block; margin-top: 25px;"><a class="govuk-button button-secondary" type="submit">
select</a></div></td>
    </tr>
  </tbody>
</table>
</div>
<div class="govuk-grid-column-one-third">
  <div class="project-info">
    <h2 class="govuk-heading-m">Alcohol-recom-01-03-19</h2>
    <div class="unfold-summary">
    <details class="govuk-details" style="margin-bottom: 15px;">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Summary
    </span>
  </summary>
  <div class="govuk-details__text">
    Our service contract is ending, and I have become aware of a new model of service delivery that I think will be effective. Can we collect together information about this and put together a case for funding a new experimental model.
  </div>
</details>
</div>
    <h3 class="govuk-heading-s">Map of area selected:</h3>
    <img src="/public/images/map-of-area.png" style="margin-bottom: 30px;">

    <h3 class="govuk-heading-s">Shortlisted information:</h3>
    <a href="view-selected-material">View shortlisted material here</a>
  </div>
</div>
</div>
</form>
{% endblock %}
