
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="search-all" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="choose-type" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Structure your data and evidence</h1>
<p>View what you have selected so far and access tools and guidance for how to assemble it to be most effective for the audience</p>
<p>Order by: data visualisation, indicator, best practice, citizen engagement, context, ROI tools</p>
</div>
<div class="govuk-grid-column-one-third" style="margin-top:5rem;">
  <h3 class="govuk-heading-s">Tools for structuring<h3>
  <a href="dashboard">Understand your audience using sliders</a></br>
  <a href="comparison">Template for minimum information paper</a></br>
</div>
</div>
</br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<table class="govuk-table">
  <caption class="govuk-table__caption">Saved for ... report</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Type of information</th>
      <th class="govuk-table__header" scope="col">Summary</th>
      <th class="govuk-table__header" scope="col">Added by</th>
      <th class="govuk-table__header" scope="col">Tags</th>
      <th class="govuk-table__header" scope="col">-</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" scope="row">Best practice</th>
      <td class="govuk-table__cell">Quotes from a paper that highlights best treatment approach for this case</td>
      <td class="govuk-table__cell">M Norter</td>
      <td class="govuk-table__cell">prevention, financial impact</td>
      <td class="govuk-table__cell"><a href="best-practice-example">view</a>&nbsp;<a href="">remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" scope="row">Citizen engagement</th>
      <td class="govuk-table__cell">Quotes from citizens with experience of these services expressing their concern</td>
      <td class="govuk-table__cell">D Richards</td>
      <td class="govuk-table__cell">prevention, people impact</td>
      <td class="govuk-table__cell"><a href="citizen-engagement-example">view</a>&nbsp;<a href="">remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" scope="row">Indicator</th>
      <td class="govuk-table__cell">An indicator that shows the extent of damage to this community</td>
      <td class="govuk-table__cell">J Smith</td>
      <td class="govuk-table__cell">prevention, people impact, health impact</td>
      <td class="govuk-table__cell"><a href="data-example">view</a>&nbsp;<a href="">remove</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" scope="row">Data visualisation</th>
      <td class="govuk-table__cell">A data visualisation that compares this area to --- that is using a different service program</td>
      <td class="govuk-table__cell">C Ayoade</td>
      <td class="govuk-table__cell">health impact</td>
      <td class="govuk-table__cell"><a href="data-visualisation-example">view</a>&nbsp;<a href="">remove</a></td>
    </tr>
  </tbody>
</table>
</div>



</div>
</form>
{% endblock %}
