
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row" style="margin-bottom: 0.6rem;">
<!--This should be on every page within a project!-->
<div class="project-bar">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-s" style="margin-bottom: 5px;">Rising drinking in underage</h2>
    <a href="">Show project details</a>

  </div>
  <div class="govuk-grid-column-one-third">
    <a href="../shortlisted-information/view-selected-material" style="font-size: 19px;">View shortlisted material</a>
  </div>
</div>
<!--end of project bar!-->
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="search-start-best-practice-start" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">PHE or user approved information</h1>
<p> Search the Public Health library to find PHE approved best practice, or information users have tagged results as useful for either prevention or treatment. </p>
<p>You can also search alternative databases for best practice including
<a href="" style="font-size: 18px;">Cochrane</a>.</p>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<div class="filter-box">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="filters">
      <div class="form-group" style="margin-top: 57px;">
      <label class="govuk-label" for="select-box" style="font-weight: bold;">Age group</label>
      <select class="govuk-select" id="select-box" name="select-box" style="width: 80%; background-color: white;">
      <option>Under 18</option>
      </select>
      </div>
      </br>
      <div class="filters">
      <div class="form-group">
      <label class="govuk-label" for="sort" style="font-weight: bold;">Wider determinants of health</label>
      <select class="govuk-select" id="sort" name="sort" style="width: 80%; background-color: white;">
      <option>Select one</option>
      </select>
      </div>
      </div>
        </div>
</br>
    <a style="margin-top: 10px; margin-left: 0px; float: left;" href="evidence-search-results" role="button" class="govuk-button">Apply filters</a>
    <div class="clear-filters">
    <a href="">Clear filters</a>
    </div>
</div>

<div class="govuk-grid-column-one-third">
  <div class="filters">
<div class="form-group" style="margin-top: 57px;">
<label class="govuk-label" for="select-box" style="font-weight: bold;">Geographic region</label>
<select class="govuk-select" id="select-box" name="select-box" style="width: 80%; background-color: white;">
<option>Midlands</option>
</select>
</div>
</br>
<input class="govuk-button button-white" type="submit" value="choose an additional filter" style="margin-top: 30px;">
  </div>
</div>

        <div class="govuk-grid-column-one-third">
          <div class="filters" style="margin-top: 57px;">
  <div class="form-group">
<label class="govuk-label" for="sort-1" style="font-weight: bold;">Subject area</label>
<select class="govuk-select" id="sort-1" name="sort-1" style="width: 80%; background-color: white;">
<option>Alcohol </option>
<option>Drug treatment</option>
<option>NHS health checks</option>
<option>Child obesity</option>
<option>Sexual health</option>
<option>Tobacco control</option>
<option>Air quality</option>
<option>Best start in life</option>
</select>
</div>


</form>






</form>
{% endblock %}
