
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="search-start-best-practice" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="../team/project-space-progress" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l"> Search academic papers, articles and grey literature </h1>
<p>A bit of information about what is in this section and how you can use it</p>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
          <span class="strong-label">Peer reviewed papers and reports</span></br>
          'Best practice' information
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          <span class="strong-label">Grey literature and citizen engagement</span></br>
          Blogs, online articles that have been saved, uploaded and tagged by other teams
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          <span class="strong-label">Health economics tools</span></br>
          ROI tools have been collated and recommended
		</label>
      </div>
    </div>
  </fieldset>
</div>

<button type="submit" class="govuk-button">
  Continue
</button>

</div>
</div>


</form>
{% endblock %}
