
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="search-start-best-practice" method="get" class="form">
  <div class="govuk-grid-row" style="margin-bottom: 0.6rem;">
<!--This should be on every page within a project!-->
<div class="project-bar">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-s" style="margin-bottom: 5px;">Rising drinking in underage</h2>
    <a href="">Show project details</a>

  </div>
  <div class="govuk-grid-column-one-third">
    <a href="../shortlisted-information/view-selected-material" style="font-size: 19px;">View shortlisted material</a>
  </div>
</div>
<!--end of project bar!-->
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    </br>
<a href="../project-space/project-space-progress" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l"> Search evidence produced by PHE and NICE and grey literature </h1>
</div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="data-menu">
    <h2 class="govuk-heading-s">Evidence produced by PHE, NICE and Cochrane</h2>
  <p>Guidance, reports and papers provided by Public Health England and Cochrane. Quality reviewed </p>
    <a href="search-start-best-practice" style="font-size: 18px;">Search evidence</a>
  </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="data-menu">
    <h2 class="govuk-heading-s">Grey literature and citizen engagement</h2>
    <p>Uploaded grey literature, citizen and engagement and studies that have been tagged by members of local authority teams</p>
    <a href="" style="font-size: 18px;">Search grey literature</a>
  </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="data-menu">
    <h2 class="govuk-heading-s">Health economics tools</h2>
    <p>Health economics resources provded by PHE and NICE. Return on investment calculations and the SPOT tool.</p>
  </br>
    <a href="health-economics" style="font-size: 18px;">View health economics resources</a>
  </div>
  </div>
</div>



</form>
{% endblock %}
