
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row" style="margin-bottom: 0.6rem;">
<!--This should be on every page within a project!-->
<div class="project-bar">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-s" style="margin-bottom: 5px;">Rising drinking in underage</h2>
    <a href="">Show project details</a>

  </div>
  <div class="govuk-grid-column-one-third">
    <a href="../shortlisted-information/view-selected-material" style="font-size: 19px;">View shortlisted material</a>
  </div>
</div>
<!--end of project bar!-->
</div>


<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<h2 class="govuk-heading-s" style="margin-top: 20px;">Area selected:</h2>
<p style="font-size: 16px;">MSOA 2011:Oxford 003 (E09372892)</br>
MSOA 2011:Oxford 002 (E09372892)
</p>

<a href="choose-area-map-result">Change</a>
<hr>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="search-start-data-alt">Search data</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" aria-current="page">Search from a map</a>
    </li>
  </ol>
</div>
<h1 class="govuk-heading-s">Available in this area:</h1>
<a href="area-selected-key-data" style="font-size: 21px;">Key data</a></br>
<a href="area-selected-reports" style="font-size: 21px; ">Reports</a></br>
<a href="area-selected-indicators" style="font-size: 21px;">Indicators</a>



</div>
<div class="govuk-grid-column-two-thirds">
  <div class="map-image" style="width=100%; height: auto; overflow: hidden;">
  <img src="../../public/images/zoomin-selected.gif">
</div>
</div>
</div>

  </div>
</div>

<!--
<p>
You can search the area you're looking at or select a location on the map.
</p>
<div class="form-group">
  <input type="text" class="govuk-input" id="searchTerm" name="searchTerm" style="width: 350px;" value="enter postcode, town or local authority">
  <button class="govuk-button" type="submit" value="Search" name="" style="background-color:black; min-height: 36px; min-width: 36px"><span class="hod-search"></span>
  <i class="fa fa-search" aria-hidden="true"></i>
  </button>
  </div>
</br>
<img src="/public/images/map-of-uk.png" style="">
!-->




</div>
</div>


</br>



</form>
{% endblock %}
