
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row" style="margin-bottom: 0.6rem;">
<!--This should be on every page within a project!-->
<div class="project-bar">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-s" style="margin-bottom: 5px;">Rising drinking in underage</h2>
    <a href="">Show project details</a>

  </div>
  <div class="govuk-grid-column-one-third">
    <a href="../shortlisted-information/view-selected-material" style="font-size: 19px;">View shortlisted material</a>
  </div>
</div>
<!--end of project bar!-->
</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="" class="govuk-back-link">Back</a>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  </br>

  <h3 class="govuk-heading-s">Key</h3>
  <div class="benchmark-key-g">
    <p>good compared to benchmark</p>
  </div>
  <div class="benchmark-key-s">
    <p>similar to benchmark</p>
  </div>
  <div class="benchmark-key-w">
    <p>worse compared to benchmark</p>
  </div>


</br>
<table class="table-clickable govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header multiple-choice--hod">
        <div class="govuk-checkboxes__item">
          <input type="checkbox" class="govuk-checkboxes__input jsCheckboxAll" id="radio-all">
          <label class="govuk-label govuk-checkboxes__label" for="radio-all">
            &nbsp;
          </label>
        </div>
      </th>
      <th class="govuk-table__header">Indicator</th>
      <th class="govuk-table__header">Period</th>
      <th class="govuk-table__header">England</th>
      <th class="govuk-table__header" style="min-width: 120px;">NHS Halton CCG</th>
      <th class="govuk-table__header"><a href="">edit</a></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
        <td class="govuk-table__cell multiple-choice--hod">
          <div class="govuk-checkboxes__item">
            <input type="checkbox" class="govuk-checkboxes__input jsCheckbox" id="radio-1">
            <label class="govuk-label govuk-checkboxes__label" for="radio-1">
              &nbsp;
            </label>
          </div>
        </td>
        <td class="govuk-table__cell table-icon"><p><span style="background: yellow">Mental Health</span>: QOF prevalence (all ages)</p>
        <a href=""><svg height='30px' width='30px'  fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" x="0px" y="0px"><title>032-Information</title><g data-name="032-Information"><path d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm0,28A13,13,0,1,1,29,16,13,13,0,0,1,16,29Z"></path><path d="M16,12a1,1,0,0,0-1,1V24a1,1,0,0,0,2,0V13A1,1,0,0,0,16,12Z"></path><circle cx="16" cy="9" r="1"></circle></g></svg></a>
        </td>
        <td class="govuk-table__cell">2017/18</td>
        <td class="govuk-table__cell">79.1</td>
        <div class="icon-table"><td class="govuk-table__cell"><p class="this">78.6</p></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>

      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell multiple-choice--hod">
          <div class="govuk-checkboxes__item">
            <input type="checkbox" class="govuk-checkboxes__input jsCheckbox" id="radio-2">
            <label class="govuk-label govuk-checkboxes__label" for="radio-2">
              &nbsp;
            </label>
          </div>
        </td>
        <td class="govuk-table__cell"><p>Dementure: QOF prevalence (all ages)</p><a href="" style="background: yellow;"><svg height='30px' width='30px' fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" x="0px" y="0px"><title>032-Information</title><g data-name="032-Information"><path d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm0,28A13,13,0,1,1,29,16,13,13,0,0,1,16,29Z"></path><path d="M16,12a1,1,0,0,0-1,1V24a1,1,0,0,0,2,0V13A1,1,0,0,0,16,12Z"></path><circle cx="16" cy="9" r="1"></circle></g></svg></a></td>
        <td class="govuk-table__cell">2017/18</td>
        <td class="govuk-table__cell">17.2</td>
        <td class="govuk-table__cell"><p class="that">17.9</p></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell multiple-choice--hod">
          <div class="govuk-checkboxes__item">
            <input type="checkbox" class="govuk-checkboxes__input jsCheckbox" id="radio-3">
            <label class="govuk-label govuk-checkboxes__label" for="radio-3">
              &nbsp;
            </label>
          </div>
        </td>
        <td class="govuk-table__cell"><p>% reporting Alzheimer's disease or dementure</p><a href="" style="background: yellow;"><svg height='30px' width='30px'  fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" x="0px" y="0px"><title>032-Information</title><g data-name="032-Information"><path d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm0,28A13,13,0,1,1,29,16,13,13,0,0,1,16,29Z"></path><path d="M16,12a1,1,0,0,0-1,1V24a1,1,0,0,0,2,0V13A1,1,0,0,0,16,12Z"></path><circle cx="16" cy="9" r="1"></circle></g></svg></a></td>
        <td class="govuk-table__cell">2017/18</td>
        <td class="govuk-table__cell">90.5</td>
        <td class="govuk-table__cell"><p class="this">89.7</p></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell multiple-choice--hod">
          <div class="govuk-checkboxes__item">
            <input type="checkbox" class="govuk-checkboxes__input jsCheckbox" id="radio-4">
            <label class="govuk-label govuk-checkboxes__label" for="radio-4">
              &nbsp;
            </label>
          </div>
        </td>
        <td class="govuk-table__cell"><p>Exception rate for dementure indicators</p><a href="" style="background: yellow;"><svg height='30px' width='30px'  fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" x="0px" y="0px"><title>032-Information</title><g data-name="032-Information"><path d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm0,28A13,13,0,1,1,29,16,13,13,0,0,1,16,29Z"></path><path d="M16,12a1,1,0,0,0-1,1V24a1,1,0,0,0,2,0V13A1,1,0,0,0,16,12Z"></path><circle cx="16" cy="9" r="1"></circle></g></svg></a></td>
        <td class="govuk-table__cell">2017/18</td>
        <td class="govuk-table__cell">94.4</td>
        <td class="govuk-table__cell"><p class="that">94.7</td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell multiple-choice--hod">
          <div class="govuk-checkboxes__item">
            <input type="checkbox" class="govuk-checkboxes__input jsCheckbox" id="radio-5">
            <label class="govuk-label govuk-checkboxes__label" for="radio-5">
              &nbsp;
            </label>
          </div>
        </td>
        <td class="govuk-table__cell"><p>Depression: QOF incidence (18+ - new diagnoses)</p><a href="" style="background: yellow;"><svg height='30px' width='30px'  fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" x="0px" y="0px"><title>032-Information</title><g data-name="032-Information"><path d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm0,28A13,13,0,1,1,29,16,13,13,0,0,1,16,29Z"></path><path d="M16,12a1,1,0,0,0-1,1V24a1,1,0,0,0,2,0V13A1,1,0,0,0,16,12Z"></path><circle cx="16" cy="9" r="1"></circle></g></svg></a></td>
        <td class="govuk-table__cell">2017/18</td>
        <td class="govuk-table__cell">89.2</td>
        <td class="govuk-table__cell"><p class="and">90.2</p></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
      </tr>



  </tbody>
</table>




<!--
<p>
You can search the area you're looking at or select a location on the map.
</p>
<div class="form-group">
  <input type="text" class="govuk-input" id="searchTerm" name="searchTerm" style="width: 350px;" value="enter postcode, town or local authority">
  <button class="govuk-button" type="submit" value="Search" name="" style="background-color:black; min-height: 36px; min-width: 36px"><span class="hod-search"></span>
  <i class="fa fa-search" aria-hidden="true"></i>
  </button>
  </div>
</br>
<img src="/public/images/map-of-uk.png" style="">
!-->



</div>
</div>
</div>
</div>


</br>



</form>
{% endblock %}
