
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row" style="margin-bottom: 0.6rem;">
<!--This should be on every page within a project!-->
<div class="project-bar">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-s" style="margin-bottom: 5px;">Rising drinking in underage</h2>
    <a href="">Show project details</a>

  </div>
  <div class="govuk-grid-column-one-third">
    <a href="../shortlisted-information/view-selected-material" style="font-size: 19px;">View shortlisted material</a>
  </div>
</div>
<!--end of project bar!-->
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
<a href="../team/project-space-progress" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Search for data to add to your project</h1>
</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="data-menu">
    <h2 class="govuk-heading-s">Search on a map</h2>
    <p>Create a selected area from LSOA level upwards, to see data and indicators available</p>
      <img src="/public/images/data-menu-three.png" style="max-width: 260px; padding-bottom:10px;">
    <a href="" style="font-size: 18px;">Search data from a map</a>
  </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="data-menu">
    <h2 class="govuk-heading-s">Search by topic or indicator</h2>
    <p>Data by subject area, geographical area and service performance</p>

    <img src="/public/images/data-menu-one.png" style="max-width: 260px; padding-bottom:10px;">
    <a href="" style="font-size: 18px;">Search data by topic</a>
  </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="data-menu">
    <h2 class="govuk-heading-s">Search service performance data indicators</h2>
    <p>Perfomance data of services in your area</p>
        <img src="/public/images/data-menu-two.png" style="max-width: 260px; padding-bottom:10px;">

    <a href="" style="font-size: 18px;">View service performance data</a>
  </div>
  </div>

<!--
<p>
You can search the area you're looking at or select a location on the map.
</p>
<div class="form-group">
  <input type="text" class="govuk-input" id="searchTerm" name="searchTerm" style="width: 350px;" value="enter postcode, town or local authority">
  <button class="govuk-button" type="submit" value="Search" name="" style="background-color:black; min-height: 36px; min-width: 36px"><span class="hod-search"></span>
  <i class="fa fa-search" aria-hidden="true"></i>
  </button>
  </div>
</br>
<img src="/public/images/map-of-uk.png" style="">
!-->




</div>
</div>


</br>



</form>
{% endblock %}
