
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Prototype for Digital Health Intelligence</h1>

      <p>
        This is an overview of all the pages in the prototype.</p>

        <div class="frame-unit">
        <p style="margin-bottom: 10px;">/v1/team/choose-type</p>
        <iframe src="/v1/team/choose-type" width="300" height="300"></iframe>
      </div>
  <h2 class="govuk-heading-m" style="clear:both;">
  Create team</h2>
          <div class="frame-unit">
          <p>/v1/team/team-start</p>
          <iframe src="/v1/team/team-start"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/create-team</p>
          <iframe src="/v1/team/create-team"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/add-to-team</p>
          <iframe src="/v1/team/add-to-team"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/add-to-team-add-one</p>
          <iframe src="/v1/team/add-to-team-add-one"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/add-to-team-add-another</p>
          <iframe src="/v1/team/add-to-team-add-another"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/team-created</p>
          <iframe src="/v1/team/team-created"  width="300" height="300"></iframe>
          </div>
  <h2 class="govuk-heading-m" style="clear:both;">
  View data</h2>

          <div class="frame-unit">
          <p>/v1/team/comparison</p>
          <iframe src="/v1/team/comparison"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/dashboard</p>
          <iframe src="/v1/team/dashboard"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/data-example</p>
          <iframe src="/v1/team/data-example"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/data-visualisation-example</p>
          <iframe src="/v1/team/data-visualisation-example"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/performance</p>
          <iframe src="/v1/team/performance"  width="300" height="300"></iframe>
          </div>
  <h2 class="govuk-heading-m" style="clear:both;">
  View best practice and citizen engagement</h2>
          <div class="frame-unit">
          <p>/v1/team/what-need</p>
          <iframe src="/v1/team/what-need"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/how-doing</p>
          <iframe src="/v1/team/how-doing"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/best-practice-example</p>
          <iframe src="/v1/team/best-practice-example"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/citizen-engagement-example</p>
          <iframe src="/v1/team/citizen-engagement-example"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/paper-example</p>
          <iframe src="/v1/team/paper-example"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/search-all</p>
          <iframe src="/v1/team/search-all"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/tagged-best-pracice</p>
          <iframe src="/v1/team/tagged-best-practice"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/uploaded-engagement</p>
          <iframe src="/v1/team/uploaded-engagement"  width="300" height="300"></iframe>
          </div>
  <h2 class="govuk-heading-m" style="clear:both;">
  Structure your paper</h2>
          <div class="frame-unit">
          <p>/v1/team/what-need-pie</p>
          <iframe src="/v1/team/what-need-pie"  width="300" height="300"></iframe>
          </div>
          <div class="frame-unit">
          <p>/v1/team/what-should</p>
          <iframe src="/v1/team/what-should"  width="300" height="300"></iframe>
          </div>
  <h2 class="govuk-heading-m" style="clear:both;">
  Search for data and evidence</h2>
          <div class="frame-unit">
          <p>/v1/search/search-start</p>
          <iframe src="/v1/search/search-start"  width="300" height="300"></iframe>
          </div>

  <h2 class="govuk-heading-m" style="clear:both;">
  Search for historic cases</h2>
          <div class="frame-unit">
          <p>/v1/historic/historic-start</p>
          <iframe src="/v1/historic/historic-start"  width="300" height="300"></iframe>
          </div>













    </div>
</div>

{% endblock %}
