
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="/v1/historic-start" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">Digital health intelligence</h1>

<p>This site is where we have pulled together the best practice, data and evidence etc etc. It will allow you to see how people have used them when making cases, and some of the insights that people within your team as well as across PHE have drawn from them.</p>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        What do you want to do?
      </h2>
    </legend>
    <!--<span id="sign-in-hint" class="govuk-hint">
      You&#39;ll need an account to prove your identity and complete your Self Assessment.
    </span>!-->
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="what-1" name="what" type="radio" value="search" aria-describedby="what-1-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="what-1">
          Search for data and best practice
        </label>
        <span id="what-1-item-hint" class="govuk-hint govuk-radios__hint">
          This will allow you to search through PHE's resources of data, best practice and citizen enagement
        </span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="what-2" name="what" type="radio" value="team" aria-describedby="what-2-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="what-2">
          View information by or create a team
        </label>
        <span id="what-2-item-hint" class="govuk-hint govuk-radios__hint">
        You can view information that your team have tagged to a project, or start a team to allow information to be collected
        </span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="what-3" name="what" type="radio" value="historic" aria-describedby="what-3-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="what-3">
          View historic cases' evidence and data
        </label>
        <span id="what-3-item-hint" class="govuk-hint govuk-radios__hint">
        You can search by previous case tags and see what evidence and data was used in each case
        </span>
      </div>
    </div>
  </fieldset>
</div>
<button type="submit" class="govuk-button">
  Continue
</button>

    </div>
</div>
</form>
{% endblock %}
