
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="search-start" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Search data</h1>

<p>
Choose an area of the map to explore the data in this area. Data will be pulled from fingertips, local health and shape. You can select which indicators you want to view.
</p>
<p>Find your local authority</p>
<div class="form-group">
  <input type="text" class="govuk-input" id="searchTerm" name="searchTerm" style="width: 350px;" value="enter postcode, town or local authority">
  <button class="govuk-button" type="submit" value="Search" name="" style="background-color:black; min-height: 36px; min-width: 36px"><span class="hod-search"></span>
  <i class="fa fa-search" aria-hidden="true"></i>
  </button>
  </div>
</br>
<img src="/public/images/map-of-uk.png" style="">




</div>
</div>


</br>



</form>
{% endblock %}
