
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype for Digital Health Intelligence</h1>

      <p>
        This is the place where we are testing our ideas and assumptions for the Digital Health Intelligence project. None of the ideas are final.
      </p>

      <p>
        Current version: v1 - Testing the flow of tagging and information to see whether they could feasibly work.
      </p>
      <p>Access the prototype for 'translators' <a href="/v1/start-page">here</a></p>

<table class="govuk-table">
   <caption class="govuk-table__caption">Prototypes</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col">
    Version
  </th>
  <th class="govuk-table__header" scope="col">
    What were we testing
  </th>
  <th class="govuk-table__header" scope="col">
    link
  </th>
</tr>
  </thead>
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">V1</td>
    <td class="govuk-table__cell">Testing the flow of tagging and finding tagged information for various roles
    </td>
    <td class="govuk-table__cell">
      <a href="/v1/start-page">here</a>
    </td>
  </tbody>
</table>
    </div>
</div>

{% endblock %}
