
{% extends "layout.html" %}

{% block pageTitle %}
    Prototype for Digital Health Intelligence
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype for Digital Health Intelligence</h1>

      <p>
        This is the place where we are testing our ideas and assumptions for the Digital Health Intelligence project. None of the ideas are final.
      </p>

      <p>
        <strong>Current version: v4 </strong>- Prototype for prioritisation with all learnings in. Will not represent the final MVP</p>
      <p><strong>Access the prototype: </strong><a href="/v4/sign-in">here</a></p>
      <p>View whole prototype map <a href="">here</a></p>

<table class="govuk-table">
   <caption class="govuk-table__caption">Prototypes</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col">
    Version
  </th>
  <th class="govuk-table__header" scope="col">
    What were we testing
  </th>
  <th class="govuk-table__header" scope="col">
    link
  </th>
</tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">V3</td>
      <td class="govuk-table__cell">Prototype for wrapping up alpha, last round of testing.
      </td>
      <td class="govuk-table__cell">
        <a href="/v3/sign-in">here</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">V2</td>
      <td class="govuk-table__cell">Prototype for wrapping up alpha, testing the concept of tagging information, and defining what project you're working in.
      </td>
      <td class="govuk-table__cell">
        <a href="/v2/sign-in">here</a>
      </td>
    </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">V1</td>
    <td class="govuk-table__cell">Testing the flow of tagging and finding tagged information for various roles
    </td>
    <td class="govuk-table__cell">
      <a href="/v1/start-page">here</a>
    </td>
  </tr>
  </tbody>
</table>
    </div>
</div>

{% endblock %}
