
{% extends "layout.html" %}

{% block pageTitle %}
Digital Health Intelligence
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="../project-index" class="govuk-back-link">Back to live projects</a>
    </br></br>
<h1 class="govuk-heading-l">View archived projects</h1>
</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

<div class="filter-box-historic" >
  <div class="govuk-form-group" style="margin-right: 20px;">
    <label class="govuk-label" for="width-20" style="background-color: #D8D8D8; padding: 10px 0px 5px 0px; margin: 0;">
        <strong>Search by project name</strong>
      </label>
      <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
    </div>
        <div class="filters">
      <div class="form-group" style="margin-top: 5px;">
        <legend>
          <h3 class="govuk-heading-s" style="margin-top: 0px; margin-bottom: 10px; ">Date of request</h3>
        </legend>
      <select class="govuk-select" id="select-box" name="select-box" style="width: 80%; background-color: white;">
      <option>Any</option>
      <option>Jan 2019</option>
      <option>Dec 2018</option>
      <option>Nov 2018</option>
      <option>Oct 2018</option>
      <option>Sept 2018</option>
      <option>Aug 2018</option>
      <option>Jul 2018</option>
      <option>Jun 2018</option>
      <option>May 2018</option>
      <option>Apr 2018</option>
      </select>
      </div>
      </br>
        </div>

          <div class="filters">
            <div class="form-group">
          <label class="govuk-label" for="sort-1" style="font-weight: bold;">Subject area</label>
          <select class="govuk-select" id="sort-1" name="sort-1" style="width: 80%; background-color: white;">
          <option>Alcohol treatment</option>
          <option>Drug treatment</option>
          <option>NHS health checks</option>
          <option>Child obesity</option>
          <option>Sexual health</option>
          <option>Tobacco control</option>
          <option>Air quality</option>
          <option>Best start in life</option>
          </select>
          </div>
          </br>
          <div class="filters">
          <div class="form-group">
          <label class="govuk-label" for="sort" style="font-weight: bold;">Local authority or CCG</label>
          <select class="govuk-select" id="sort" name="sort" style="width: 80%; background-color: white;">
          <option>Any</option>
          <option>North</option>
          <option>North East</option>
          <option>North West</option>
          <option>West Midlands</option>
          <option>East Midlands</option>
          <option>London</option>
          <option>South East</option>
          <option>South West</option>
          </select>
          </div>
          </div>
        </form>
</br>
        <a href="" style="font-size: 19px;">View tag filters</a></br>
<a style="margin-top: 10px; margin-left: 0px; float: left;" href="" role="button" class="govuk-button">Search projects</a>
  </div>

        </div>


</div>

<div class="govuk-grid-column-two-thirds">
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" style="width: 180px;">Projects</th>
        <th class="govuk-table__header" scope="col"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" style="border-bottom-style: hidden; ">
         <th scope="row" class="govuk-table__header" style="padding-top: 10px;">Project name</th>
        <td class="govuk-table__cell"><a href="">Rise in underage deaths due to drinking</a></td>
      </tr>
      <tr class="govuk-table__row" style="border-bottom-style: hidden; ">
         <th scope="row" class="govuk-table__header" style="padding-top: 0px;">Local authority</th>
        <td class="govuk-table__cell">Southwark</td>
      </tr>
      <tr class="govuk-table__row" style="border-bottom-style: hidden;">
         <th scope="row" class="govuk-table__header" style="padding-top: 0px;">Project summary</th>
        <td class="govuk-table__cell">Our service contract is ending, and I have become aware of a new model of service delivery that I think will be effective. Can we collect together information about this and put together a case for funding a new experimental model.</td>
      </tr>
      <tr class="govuk-table__row" >
         <th scope="row" class="govuk-table__header" style="padding-top: 0px;">Tags</th>
        <td class="govuk-table__cell">Alcohol, Teenagers</td>
      </tr>
      <tr class="govuk-table__row" style="border-bottom-style: hidden; height: 60px;">
         <th scope="row" class="govuk-table__header">Project name</th>
        <td class="govuk-table__cell"><a href="">Rise in underage deaths due to drinking</a></td>
      </tr>
      <tr class="govuk-table__row" style="border-bottom-style: hidden;">
         <th scope="row" class="govuk-table__header" style="padding-top: 0px;">Local authority</th>
        <td class="govuk-table__cell">Southwark</td>
      </tr>
      <tr class="govuk-table__row" style="border-bottom-style: hidden;">
         <th scope="row" class="govuk-table__header" style="padding-top: 0px;">Project summary</th>
        <td class="govuk-table__cell">Our service contract is ending, and I have become aware of a new model of service delivery that I think will be effective. Can we collect together information about this and put together a case for funding a new experimental model.</td>
      </tr>
      <tr class="govuk-table__row" >
         <th scope="row" class="govuk-table__header">Tags</th>
        <td class="govuk-table__cell">Alcohol, Teenagers</td>
      </tr>
      <tr class="govuk-table__row" style="border-bottom-style: hidden; height: 60px;">
         <th scope="row" class="govuk-table__header">Project name</th>
        <td class="govuk-table__cell"><a href="">Rise in underage deaths due to drinking</a></td>
      </tr>
      <tr class="govuk-table__row" style="border-bottom-style: hidden;">
         <th scope="row" class="govuk-table__header">Local authority</th>
        <td class="govuk-table__cell">Southwark</td>
      </tr>
      <tr class="govuk-table__row" style="border-bottom-style: hidden;">
         <th scope="row" class="govuk-table__header">Project summary</th>
        <td class="govuk-table__cell">Our service contract is ending, and I have become aware of a new model of service delivery that I think will be effective. Can we collect together information about this and put together a case for funding a new experimental model.</td>
      </tr>
      <tr class="govuk-table__row" >
         <th scope="row" class="govuk-table__header">Tags</th>
        <td class="govuk-table__cell">Alcohol, Teenagers</td>
      </tr>
      <tr class="govuk-table__row" style="border-bottom-style: hidden; height: 60px;">
         <th scope="row" class="govuk-table__header">Project name</th>
        <td class="govuk-table__cell"><a href="">Rise in underage deaths due to drinking</a></td>
      </tr>
      <tr class="govuk-table__row" style="border-bottom-style: hidden;">
         <th scope="row" class="govuk-table__header">Local authority</th>
        <td class="govuk-table__cell">Southwark</td>
      </tr>
      <tr class="govuk-table__row" style="border-bottom-style: hidden;">
         <th scope="row" class="govuk-table__header">Project summary</th>
        <td class="govuk-table__cell">Our service contract is ending, and I have become aware of a new model of service delivery that I think will be effective. Can we collect together information about this and put together a case for funding a new experimental model.</td>
      </tr>
      <tr class="govuk-table__row" >
         <th scope="row" class="govuk-table__header">Tags</th>
        <td class="govuk-table__cell">Alcohol, Teenagers</td>
      </tr>
    </tbody>
  </table>


</div>
</div>
</form>
{% endblock %}
