
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="team-created" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="#" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Person y added to '---' team</h1>

<div class="govuk-form-group">
  <label class="govuk-label" for="national-insurance-number">
    Type a name or email to add to your team
  </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="one-half" type="text">
  </div>

  <div class="block-space">
	<a class="govuk-button button-secondary" type="submit">
		Add person
	</a>
</div>

<table class="govuk-table">
  <caption class="govuk-table__caption">People in "" team</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">Email address</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" scope="row">Person 1</td>
      <td class="govuk-table__cell">person1@southwark.gov.uk</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" scope="row">Person 2</td>
      <td class="govuk-table__cell">person2@southwark.gov.uk</td>
    </tr>
  </tbody>
</table>

<button type="submit" class="govuk-button">
  Sumbit team
</button>
</br>
    </div>
</div>
</form>
{% endblock %}
