
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="how-doing" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="/v1/start-page" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Information tagged by your team</h1>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h2 class="govuk-fieldset__heading_">
        Choose what you want to view
      </h2>
    </legend>
    <!--<span id="sign-in-hint" class="govuk-hint">
      You&#39;ll need an account to prove your identity and complete your Self Assessment.
    </span>!-->
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="view_by_how" name="view_by" type="radio" value="by_how" aria-describedby="what-1-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="view_by_how">
          How are we doing?
        </label>
        <span id="how-doing-item-hint" class="govuk-hint govuk-radios__hint">
          Data by subject area, and geographical area
        </span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="view_by_what" name="view_by" type="radio" value="by_what" aria-describedby="what-2-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="view_by_what">
          What should we do?
        </label>
        <span id="what-2-item-hint" class="govuk-hint govuk-radios__hint">
        View best practice by papers, articles and citizens engagement documents
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="view_by_need" name="view_by" type="radio" value="by_need" aria-describedby="what-3-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="view_by_need">
          What do we need?
        </label>
        <span id="what-3-item-hint" class="govuk-hint govuk-radios__hint">
        Structure your data and evidence
        </span>
      </div>
    </div>
  </fieldset>
</div>

<button type="submit" class="govuk-button">
  Continue
</button>
</div>
</form>
{% endblock %}
