
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="how-doing" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="how-doing" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l" style="margin-bottom: 20px;">Data comparisons</h1>
<p style="margin-bottom: 40px;">Data comparisons selected by team<p>
  <table class="govuk-table">
    <caption class="govuk-table__caption">Indicators</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Indicator</th>
        <th class="govuk-table__header" scope="col">SE5 7</th>
        <th class="govuk-table__header" scope="col">UK wide</th>
        <th class="govuk-table__header" scope="col">Comparison 1</th>
        <th class="govuk-table__header" scope="col">Comparison 2</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Admission episodes for alcohol-related conditions (Narrow)</th>
        <td class="govuk-table__cell">476 in 100,000</td>
        <td class="govuk-table__cell">381 in 100,000 <a href="" style="color: blue;">tag</a></td>
        <td class="govuk-table__cell">421 in 100,000</td>
        <td class="govuk-table__cell">456 in 100,000</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Admission episodes for alcohol-related conditions (Broad)</th>
        <td class="govuk-table__cell">53 in 100,000 <a href="" style="color: blue;">tag</a></td>
        <td class="govuk-table__cell">42 in 100,000</td>
        <td class="govuk-table__cell">46 in 100,000</td>
        <td class="govuk-table__cell">48 in 100,000</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Admission episodes for alcohol-specific conditions</th>
        <td class="govuk-table__cell">68 in 100,000</td>
        <td class="govuk-table__cell">73 in 100,000</td>
        <td class="govuk-table__cell">63 in 100,000</td>
        <td class="govuk-table__cell">64 in 100,000</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Alcohol-related mortality</th>
        <td class="govuk-table__cell">24 in 100,000</td>
        <td class="govuk-table__cell">18 in 100,000</td>
        <td class="govuk-table__cell">17 in 100,000 <a href="" style="color: blue;">tag</a></td>
        <td class="govuk-table__cell">26 in 100,000</td>
      </tr>
    </tbody>
  </table>

</div>
</div>

</form>
{% endblock %}
