
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="how-doing" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="how-doing" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l" style="margin-bottom: 20px;">Comparison data and visualisations</h1>

<p>Data comparisons selected by team<p>
<div class="map-to-view">
<img src="">
</div>
<h3 class="govuk-heading-s">Overview of the subject area<h3>
<p>This could be an overview of the subject area that is always pulled through when it is tagged at this point?</p>
</div>
<div class="govuk-grid-column-one-third" style="margin-top:5rem;">
</div>
</div>

</form>
{% endblock %}
