
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="add-to-team" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="#" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Create a team</h1>

<div class="govuk-form-group">
  <label class="govuk-label" for="national-insurance-number">
    Choose an indentifing name for your team
  </label>
  <span id="national-insurance-number-hint" class="govuk-hint">
    This will be what members of your team tag data and best practice to
  </span>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="one-half" type="text">
  </div>

<button type="submit" class="govuk-button">
  Continue
</button>
</br>
    </div>
</div>
</form>
{% endblock %}
