
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="how-doing" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="how-doing" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l" style="margin-bottom: 20px;">Dashboard for --- in --- area</h1>
<p>Dashboard of indicators and links on --- in 'geographical area'<p>
</div>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Indicators selected for this area</h2>
      <p>Indicator 1</p>
      <p>Indicator 2</p>
      <p>Indicator 3</p>
    </div>
<div class="govuk-grid-column-one-third">
<div class="map-to-view">
<img src="/public/images/map-for-region.png" style="max-width: 400px; margin-top: 20px;">
</div>
</div>
</div>

</form>
{% endblock %}
