
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="how-doing" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="choose-type" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l" style="margin-bottom: 20px;">Tagged data on 'New models in alcohol and drug management service delivery'</h1>
<p>Our service contract is ending, and I have become aware of a new model of service delivery that I think will be effective. Can we collect together information about this and put together a case for funding a new experimental model.</p>
</div>
</div>
</br>
  <div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <div class="data-types">
<h2 class="govuk-heading-m">View types of data</h2>
<a href="dashboard">View the dashboard of the area</a></br>
<a href="comparison">View a comparison with another area</a></br>
<a href="visualisations">View selected visualisations</a></br>
<a href="performance">View service performance data</a>
</div>
</div>
<div class="govuk-grid-column-one-half">
  <div class="map-to-view">
    <h3 class="govuk-heading-m">Area selected</h3>
  <img src="/public/images/map-of-area.png" style="max-width: 400px;">
  </div>
</div>
</div>

</form>
{% endblock %}
