
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="how-doing" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="how-doing" class="govuk-back-link">Back</a>
<span class="govuk-caption-m">alc-200119</span>
<h1 class="govuk-heading-l" style="margin-bottom: 20px;">Service performance data</h1>

<p>Service performance data tagged by your team</p>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col" style="max-width: 100px;">Month</th>
      <th class="govuk-table__header" scope="col" style="max-width: 100px;">Number in treatment</th>
      <th class="govuk-table__header" scope="col" style="max-width: 100px;">New presentations</th>
      <th class="govuk-table__header" scope="col" style="max-width: 100px;">Discharges</th>
      <th class="govuk-table__header" scope="col" style="max-width: 100px;"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" scope="row">Apr 2018</td>
      <td class="govuk-table__cell">4495</td>
      <td class="govuk-table__cell">821</td>
      <td class="govuk-table__cell">716</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">May 2018</td>
      <td class="govuk-table__cell">4348</td>
      <td class="govuk-table__cell">803</td>
      <td class="govuk-table__cell">721</td>
      <td class="govuk-table__cell"><a href="">Tag</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">May 2018</td>
      <td class="govuk-table__cell">4281</td>
      <td class="govuk-table__cell">780</td>
      <td class="govuk-table__cell">736</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Jun 2018</td>
      <td class="govuk-table__cell">3988</td>
      <td class="govuk-table__cell">745</td>
      <td class="govuk-table__cell">747</td>
      <td class="govuk-table__cell"><a href="">Tag</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Jul 2018</td>
      <td class="govuk-table__cell">3857</td>
      <td class="govuk-table__cell">732</td>
      <td class="govuk-table__cell">756</td>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>


</div>
</div>
</div>

</form>
{% endblock %}
