
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="what-should" class="govuk-back-link">Back</a>
<span class="govuk-caption-m">alc-200119</span>
<h1 class="govuk-heading-l">Best practice and guidelines tagged by your team members for alc-200119</h1>
</div>
  <div class="govuk-grid-column-full">
<table class="govuk-table">
  <caption class="govuk-table__caption">Reports and guidelines</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Title of report/guidelines</th>
      <th class="govuk-table__header" scope="col">DOH number</th>
      <th class="govuk-table__header" scope="col">Team summary</th>
      <th class="govuk-table__header" scope="col">Approved</th>
      <th class="govuk-table__header" scope="col">Tagged by</th>
      <th class="govuk-table__header" scope="col">Tags</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="paper-example">Paper 1</a></th>
      <td class="govuk-table__cell">#92919183</td>
      <td class="govuk-table__cell">This paper would be useful for some good numbers for this topic. The second chapter is the most interesting.</td>
      <td class="govuk-table__cell">Yes</td>
      <td class="govuk-table__cell">Person 8</td>
      <td class="govuk-table__cell"><div class="tag-01" >financial impact</div></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">Paper 2</a></th>
      <td class="govuk-table__cell">#21992011</td>
      <td class="govuk-table__cell">This paper has really good examples of how different services can work together.</td>
      <td class="govuk-table__cell">Yes</td>
      <td class="govuk-table__cell">Person 7</td>
      <td class="govuk-table__cell"><div class="tag-02">people impact</div> <div class="tag-04">prevention</div></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="">Paper 3</a></th>
      <td class="govuk-table__cell">#12004482</td>
      <td class="govuk-table__cell">This paper isn't particularly useful but should be acknowledged as you might be asked about this.</td>
      <td class="govuk-table__cell">No</td>
      <td class="govuk-table__cell">Person 7</td>
      <td class="govuk-table__cell"><div class="tag-03">health impact</div><div class="tag-04">treatment</div></td>
    </tr>
  </tbody>
</table>

</div>
</form>
{% endblock %}
