
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="search-all" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
<a href="what-need" class="govuk-back-link">Back</a>
<span class="govuk-caption-m">alc-200119</span>
<h1 class="govuk-heading-l">Your selected material</h1>

<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#past-day">
        Data
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Best practice
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Citizen engagement and grey literature
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Contextual information
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">Data</h2>
    <h3 class="govuk-heading-m">From dashboard data</h3>
    <p style="max-width: 700px;"><strong>Tag summary:</strong> This indicator is particularly important because it is a particular spike that happened following a last treatment change</p>
    <p><strong>Tags:</strong> people prevention</p>
    <p><strong>Tagged by:</strong> Person 8</p>


    <table class="govuk-table" style="max-width: 700px;">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Indicator</th>
          <th class="govuk-table__header" scope="col">Amount</th>
          <th class="govuk-table__header" scope="col">How does it compare with benchmark</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Admission episodes for alcohol-specific conditions - Under 18s</td>
          <td class="govuk-table__cell">13.8 in 100,000</td>
          <td class="govuk-table__cell">Worse</td>
        </tr>
      </tbody>
    </table>
    </br>
    <h3 class="govuk-heading-m">From comparison data</h3>
    <p><strong>Tag summary:</strong></p>
    <p><strong>Tag:</strong></p>
    <p><strong>Tagged by:</strong></p>

    <table class="govuk-table" style="max-width: 700px;">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Indicator</th>
          <th class="govuk-table__header" scope="col">Amount</th>
          <th class="govuk-table__header" scope="col">How does it compare with benchmark</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Admission episodes for alcohol-specific conditions - Under 18s</td>
          <td class="govuk-table__cell">13.8 in 100,000</td>
          <td class="govuk-table__cell">Worse</td>
        </tr>
      </tbody>
    </table>
    </br>
      <h3 class="govuk-heading-m">From visualisations</h3>
    <div class="visualisation-label">
      <h3 class="govuk-heading-s" style="max-width: 700px;">Completion numbers for alcohol-related treatment - Southwark, London and England over time</h3>
      <p style="max-width: 700px;"><strong>Summary</strong> - This is a good way of highlighting how we have not managed to improve levels using the current process while others have.</p>
      <p><strong>Tags</strong> - <span style="background-color: #dee0e2; padding: 5px 10px 5px 10px;">treatment</span></p>
      <p><strong>Tagged by</strong> - person7@Southwark.gov.uk</p>
      <p><strong>Tagged for</strong> - Alcohol treatment</p>
    </div>
    <img src="/public/images/chart-for-comparison.png" style="max-width: 500px; max-height: 350px; margin-left: 0px;">

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Best practice</h2>

    <table class="govuk-table">
      <caption class="govuk-table__caption">Reports and guidelines</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Title of report/guidelines</th>
          <th class="govuk-table__header" scope="col">DOI number</th>
          <th class="govuk-table__header" scope="col">Team summary</th>
          <th class="govuk-table__header" scope="col">Approved</th>
          <th class="govuk-table__header" scope="col">Tagged by</th>
          <th class="govuk-table__header" scope="col">Tags</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row"><a href="">Paper 2</a></th>
          <td class="govuk-table__cell">#21992011</td>
          <td class="govuk-table__cell">This paper has really good examples of how different services can work together.</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">Person 7</td>
          <td class="govuk-table__cell"><div class="tag-02">people impact</div> <div class="tag-04">prevention</div></td>
        </tr>
      </tbody>
    </table>

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    <h2 class="govuk-heading-l">Citizen engagement and grey information</h2>
    <table class="govuk-table">
      <caption class="govuk-table__caption">Uploaded information</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
          Title of uploaded information</th>
          <th class="govuk-table__header" scope="col">Information type</th>
          <th class="govuk-table__header" scope="col">Team summary</th>
          <th class="govuk-table__header" scope="col">Tagged by</th>
          <th class="govuk-table__header" scope="col">Tags</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row"><a href="">Blog about ...</a></th>
          <td class="govuk-table__cell">link</td>
          <td class="govuk-table__cell">This would be useful for .....</td>
          <td class="govuk-table__cell">Person 7</td>
          <td class="govuk-table__cell"><div class="tag-01" style="color: white; font-weight: bold;">financial impact</div></td>
        </tr>
      </tbody>
    </table>

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
    <h2 class="govuk-heading-l">Contextual information</h2>
<p>Whatever might have been uploaded here</p>

  </section>
</div>

</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<div class="column-full">




</div>

<div class="govuk-grid-column-one-third">
</div>
</br>

</div>
</form>
{% endblock %}
