
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="search-all" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="choose-type" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Structure your data and evidence</h1>
<p>Access tools and guidance for how to assemble it:</p>

<a href="download-document" style="font-size: 20px; line-height: 25px;">Document template for paper</a></br>
<a href="" style="font-size: 20px; line-height: 25px;">Activity to establish best type of information for audience</a></br>
<a href="" style="font-size: 20px; line-height: 25px;">Examples of different audiences: CCG, LA etc</a></br>

</br>

</div>
</form>
{% endblock %}
