
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form action="search-all" method="get" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="choose-type" class="govuk-back-link">Back</a>
<span class="govuk-caption-m">alc-200119</span>
<h1 class="govuk-heading-l">Structure your data and evidence</h1>

<h2 class="govuk-heading-m">Summary:</h2>
<p>Summary: Our service contract is ending, and I have become aware of a new model of service delivery that I think could be affective. Can we collect together information about this and put together a case for funding a new experimental model</p>
<h2 class="govuk-heading-m">View all material you have selected</h2>
<p>Assembled here is the data and best practice and grey literature that you have selected from what has been gathered together by your team</p>
<a href="view-selected-material" style="font-size: 20px;">View the material</a>

</div>

<div class="govuk-grid-column-one-third">
<h3 class="govuk-heading-m" style="margin-top: 80px;">Access tools and guidance on assembling your material:</h3>

<a href="download-document" style="font-size: 20px; line-height: 25px; margin-bottom: 20px;">Document template for paper</a></br>
<a href="" style="font-size: 20px; line-height: 25px; margin-bottom: 10px;">Activity to establish best type of information for audience</a></br>
<a href="" style="font-size: 20px; line-height: 25px; margin-bottom: 10px;">Examples of different audiences: CCG, LA etc</a></br>
</div>
</br>

</div>
</form>
{% endblock %}
